.face-croped-image {
    padding: 0;
    width: 100%;
    height: auto;
    margin: 0 !important;
}

.person-row {
    padding: 0.2rem;
}

.person-col {
    background: #dedede;
}

.face-col {
    padding: 0;
}
