.face-croped-image {
    width: 100%;
    height: auto;
    margin: 0;
}

.people-face-col {
    margin: 0;
    padding: 0;
}

.people-group-row {
    padding: 0.5rem;
    margin: 0;
}

.people-group-col {
    padding: 0;
    background: #dedede;
}
