{% extends "../base.html" %}

{% block contents %}
<link rel="stylesheet" href="/static/css/visualizer/select.css">
<div class="container">
    <div class="row">
        <div class="col center pad-3rem">
            <h1>Select dates & places</h1>
        </div>
    </div>
    <form action="{% url 'visualizer:dashboard' %}" method="get">
        <div class="row">
            <div class="col col-md-6 center pad-3rem">
                <h2>Date</h2>
                from
                <input type="datetime-local" name="datetime-from" placeholder="yyyy-mm-ddThh:mm" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required>
                to
                <input type="datetime-local" name="datetime-to" placeholder="yyyy-mm-ddThh:mm" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required>
            </div>
            <div class="col col-md-6 center pad-3rem">
                <h2>Places</h2>
                <select class="form-control" name="places" multiple required size="10">
                    {% for place in places %}
                    <option value="{{ place }}" label="{{ place }}">{{ place }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col center">
                <input type="submit" value="Start">
            </div>
        </div>
    </form>
</div>

{% endblock contents %}
