{% extends "../base.html" %}

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="container">
                    {% comment %} Map {% endcomment %}
                    <div class="row">
                        <h1>Map</h1>
                    </div>
                    <div class="row">
                        {% comment %} embedded map {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                {% comment %} Faces & Attributes {% endcomment %}
                <div class="container">
                    {% comment %} Faces {% endcomment %}
                    <div class="row">
                        <h1>People</h1>
                        {% comment %} Group {% endcomment %}
                        {% for key, faces in grouped_faces.items %}
                            <div class="col-md-4">
                                {% for face in faces %}
                                    <div class="col-xs-12">
                                        <img src="data:image/jpeg;base64,{{ face.face_image }}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="container">
                    {% comment %} Attributes {% endcomment %}
                    <div class="row">
                        <h1>Attributes</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                {% comment %} Gender {% endcomment %}
                                <div class="row">
                                    <h3>Gender</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                {% comment %} Age {% endcomment %}
                                <div class="row">
                                    <h3>Age</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container">
                                {% comment %} Emotion {% endcomment %}
                                <div class="row">
                                    <h3>Emotion</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}
