.navbar.navbar-light.navbar-expand-md {
  background-color: rgb(244,244,244);
  border: inherit;
  border-bottom: solid;
  border-color: #7d7d7d;
  border-width: 0.1rem;
}

.col.upload-form {
  text-align: center;
  padding: 3rem;
}

.form-row {
  padding-top: 4rem;
}

